html,
body {
    background: var(--default);
}

:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}

#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
}

.box.empty {
    background: var(--empty);
}

.box.wrong {
    background: var(--wrong);
}

.box.right {
    background: var(--right);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
